* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.wrapper {
    width: 100%;
    height: 100vh;

}

.container {
    width: 100%;

}

.navbar {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 15px;
    align-items: center;
}

.navLogoPic {

    display: flex;
    justify-content: center;
    width: 80%;
}

.navLogo {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    
}

.logoText {
    font-weight: 500;
    display: none;
}

.navMenu {
    text-decoration: none;
    width: 40%;

}

.navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.link {
    cursor: pointer;
     
}

.contactButton {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    border-color: red;
    border-style: solid ;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.contactButton:hover {
    background-color: red;
}

.heroWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    height: fit-content;
}
.heroText {
    width: 100%;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.red {
    color: red;
    font-weight: 500;
    font-size: 42px;
}

.weight {
    font-size:42px;
    align-items: center;
    font-weight: 800;

}

.contact2 {
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    background-color: #EE0D35;
    border: 1px solid;
    border-color: #EE0D35;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

.contact2:hover {
    filter: brightness(80%);
}



.heroPic {

    width: 100%;
}

.aboutWrap {
    width: 100%;
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.mainAbout {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    gap: 50px;
}

.aboutDesc {
    color: white;
    text-align: left;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aboutPic {
    width: 100%;
}

.titleLine {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    text-align: center;
}
.line {
    width: 100%;
    height: 2px;
    background-color: #EE0D35;
}

.aboutText {
    font-weight: 400;
    text-align: left;
    width: 100%;
    font-size: 16px;
}

.contact3 {
    width: 100%;
    padding: 8px 10px;
    border-radius: 20px;
    background-color: #EE0D35;
    border: 1px solid;
    border-color: #EE0D35;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    font-size: 10px;
    align-self: center;
    text-align: center;
    text-decoration: none;
}

.contact3:hover {
    filter: brightness(80%);
}

.projectsWrapper {
    padding: 15px;
    width: 100%;
}

.projectHeading {
    text-align: center;
    margin: 10px 0px;
}

.projectsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.project {
    color: white;
    text-align: left;
    background-color: black;
    width: 90%;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.projectLinks {
    display: flex;
    flex-direction: column;
}

.link {
    color: white;
    position: relative;
    text-decoration: none;
    margin: 3px 0px;
    width: max-content;
}

.link::after {
    content: "";
    position: absolute;
    background-color: #EE0D35;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
    border-radius: 10px;
}

.link:hover::after {
    width: 100%;
}

.projectTools {
    color: #EE0D35;
    font-weight: 400;
}

.projectDesc {
    font-weight: 400;
}

.group1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.group2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;

}

.contactWrapper {
    background-color: black;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    align-items: center;
}

.contactHeading {
    color: white;
    text-align: center;
}

.contactContainer {
    width: 60%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.input {
    width: 100%;
    padding: 5px 5px;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 5px;
}

.mailGroup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.messageBox {
    resize: none;
    width: 100%;
    padding: 5px;
}

.submitForm {
    align-items: center;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #EE0D35;
    border-radius: 20px;
    border: none;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.submitForm:hover {
    filter: brightness(90%);
}

.socialsWrapper {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 30px;
    width: 100%;
    gap: 10px;
}

.social {
   display: flex;
   flex-direction: row;
   width: 100%;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.link2 {
    color: black;
    position: relative;
    text-decoration: none;
    margin: 3px 0px;
    width: max-content;
    font-weight: 400;
}

.link2::after {
    content: "";
    position: absolute;
    background-color: #EE0D35;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
    border-radius: 10px;
}

.link2:hover::after {
    width: 100%;
}

#emailLink {
    cursor: default;
}



@media screen and (max-width: 900px) {
    .navMenu {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .heroWrap {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .heroPic {
        width: 60%;
    }

    .mainAbout {
        flex-direction: row;
        width: 70%;
        justify-content: space-around;
    }

    .group1 {
        flex-direction: row;
        width: 70%;
    }
    .group2 {
        flex-direction: row;
        width: 70%;
    }
    
    

}

@media screen and (min-width: 800px) {
    .contactContainer {
        width: 50%;
    }
}