* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    width: 100%;
    height: 100vh;

}

.container {
    width: 100%;


}

.navbar {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 15px;
    align-items: center;
}

.navLogoPic {

    display: flex;
    justify-content: center;
    width: 80%;
}

.navLogo {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    
}

.logoText {
    font-weight: 500;
    display: none;
}

.navMenu {
    text-decoration: none;
    width: 40%;

}

.navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.link {
    cursor: pointer;
    
}

.contactButton {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    border-color: red;
    border-style: solid;
    transition: 0.3s;
    cursor: pointer;
}

.contactButton:hover {
    background-color: red;
}

.heroWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    height: fit-content;
}
.heroText {
    width: 100%;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.red {
    color: red;
    font-weight: 500;
    font-size: 42px;
}

.weight {
    font-size:42px;
    align-items: center;
    font-weight: 800;

}

.contact2 {
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    background-color: #EE0D35;
    border: 1px solid;
    border-color: #EE0D35;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

.contact2:hover {
    filter: brightness(80%);
}



.heroPic {

    width: 100%;
}

.aboutWrap {
    width: 100%;
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.mainAbout {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    gap: 50px;
}

.aboutDesc {
    color: white;
    text-align: left;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aboutPic {
    width: 100%;
}

.titleLine {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    text-align: center;
}
.line {
    width: 100%;
    height: 2px;
    background-color: #EE0D35;
}

.aboutText {
    font-weight: 400;
    text-align: left;
    width: 100%;
    font-size: 16px;
}

.contact3 {
    width: 100%;
    padding: 8px 10px;
    border-radius: 20px;
    background-color: #EE0D35;
    border: 1px solid;
    border-color: #EE0D35;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    font-size: 10px;
    align-self: center;
}

.contact3:hover {
    filter: brightness(80%);
}

@media screen and (max-width: 900px) {
    .navMenu {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .heroWrap {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .heroPic {
        width: 60%;
    }

    .mainAbout {
        flex-direction: row;
        width: 70%;
        justify-content: space-around;
    }

    

    

}